#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.question-number {
  width: min-content;
  padding: 0em 0.75em;
  margin: 1em 0em;
  aspect-ratio: 1;
  outline: 0.25em solid var(--rgb-indicator);
  border-radius: 50%;
  color: var(--rgb-indicator);
}

.question-number:hover {
  transform: scale(1.1);
  transition: ease-in 0.15s;
  cursor: pointer;
}

.github-link > svg {
  transition: ease-in-out 0.15s;
  width: 2rem;
}
.github-link > svg:hover {
  transform: scale(1.1);
}