:root {
  font-family: "Victor Mono";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--rgb-text);
  background-color: var(--rgb-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


* {
  --rgb-indicator: #eb4343;
  --rgb-bg: #242424;
  --rgb-text: #ffffff;

  --rgb-buttonon: rgb(137, 123, 98);
  --rgb-buttonoff: #4c4848;

  --rgb-reservedbool: #f6e0b4;
  --rgb-reservederr:  #f1bbbb;
  --rgb-reservednum: #d5f5c5;
  
}



@font-face {
  font-family: "Fira Code";
  src: url("assets/fonts/FiraCode.ttf");
}

@font-face {
  font-family: "Victor Mono";
  src: url("assets/fonts/VictorMono.ttf");
}
@font-face {
  font-family: "Victor Mono";
  font-style: italic;
  src: url("assets/fonts/VictorMono-Italic.ttf");
}

.reservedErr {
  color: var(--rgb-reservederr);
}

.reservedBool {
  color: var(--rgb-reservedbool);
}

.reservedNum {
  color: var(--rgb-reservednum);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-weight: 500;
  font-style: italic;
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
  background-color: var(--rgb-buttonoff);
  cursor: pointer;
  transition: border-color 0.15s;
}
button:hover {
  transition: ease-in 0.15s;
  text-shadow: 1px 1px 2px var(--rgb-bg);
  background-color: var(--rgb-buttonon);
  transform: scale(1.1);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

